body {
    background-color: #463838;
    color: aliceblue;
    font-family: 'Special Elite', cursive;
}

.nav-area {
    background-color: #975544;
}

.Nav-Option {
    color: aliceblue;
}

.Nav-Option:hover {
    color: #975544;
    background-color: aliceblue;
}

.home-img {
    height: auto;
    width: 80%;
}

.footer {
    background-color: #372c2c;
}

.col-md-6 p {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
}

p span {

    font-size: 50px;
}

.main-dish {
    background-color: #9755441c;

}

h2 {

    font-size: x-large;
}

.servings {
    background-color: #975544;
}

.telephone {
    background-color: #97554418;
}